.jscp_container {
  .jscp {
    background-color: #0f2537;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    &.hide {
      display: none;
    }

    canvas.hide {
      display: none;
    }

    .shade_AND_tint_AND_searchbar {
      margin-right: 1.5%;
      height: 100%;
      width: 80%;
      display: flex;
      flex-direction: column;

      .shade_AND_tint {
        width: 100%;
        height: 83%;
        cursor: pointer;
        position: relative;

        .cursor {
          outline: thin solid #fff;
          background-color: transparent;
          position: absolute;
          cursor: grab;
        }
      }

      .searchbar_container {
        height: 12%;
        width: 100%;
        margin-top: auto;
        display: flex;
        background-color: #fff;
        background-repeat: repeat;
        background-size: 12.5px 12.5px;
        background-image:
          linear-gradient(45deg, #b1b1b1 25%, transparent 25%),
          linear-gradient(135deg, #b1b1b1 25%, transparent 25%),
          linear-gradient(45deg, transparent 75%, #b1b1b1 75%),
          linear-gradient(135deg, transparent 75%, #b1b1b1 75%);
        background-position: 6.25px 0px, 0px 0px, 0px 6.25px, -6.25px -6.25px;

        .searchbar {
          width: 100%;
          border: none;
          text-align: center;

          &:focus {
            outline: none;
          }
        }
      }
    }

    .hue_AND_transparency {
      height: 100%;
      width: 20%;
      display: flex;
      flex-direction: row;
      justify-content: right;

      .hue {
        background: linear-gradient(red, orange, yellow, greenyellow, cyan, blue, magenta);
        height: 100%;
        width: 40%;
        position: relative;
        cursor: pointer;
      }

      .transparency {
        background-color: #fff;
        background-repeat: repeat;
        background-size: 12.5px 12.5px;
        background-image:
          linear-gradient(45deg, #b1b1b1 25%, transparent 25%),
          linear-gradient(135deg, #b1b1b1 25%, transparent 25%),
          linear-gradient(45deg, transparent 75%, #b1b1b1 75%),
          linear-gradient(135deg, transparent 75%, #b1b1b1 75%);
        background-position: 6.25px 0px, 0px 0px, 0px 6.25px, -6.25px -6.25px;
        height: 100%;
        width: 40%;
        margin-left: 10%;
        position: relative;
        cursor: pointer;

        .alpha_channel {
          width: 100%;
          height: 100%;
        }
      }

      .vertical_slider {
        background-color: #fff;
        width: 110%;
        height: 2.5%;
        position: absolute;
        top: 0%;
        left: -5%;
        cursor: grab;
      }
    }
  }
}