@mixin checkboardBackground() {
  $gray_square: #e1e1e1;

  background-color: #fff;
  background-repeat: repeat;
  background-size: 12.5px 12.5px;
  background-image:
    linear-gradient(45deg, $gray_square 25%, transparent 25%),
    linear-gradient(135deg, $gray_square 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, $gray_square 75%),
    linear-gradient(135deg, transparent 75%, $gray_square 75%);
  background-position: 6.25px 0px, 0px 0px, 0px 6.25px, -6.25px -6.25px;
}

.jscp_container {
  .jscp {
    background-color: #0f2537;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    &.hide {
      display: none;
    }

    canvas.hide {
      display: none;
    }

    .shade_AND_tint_AND_searchbar {
      margin-right: 1.5%;
      height: 100%;
      width: 80%;
      display: flex;
      flex-direction: column;

      .shade_AND_tint {
        width: 100%;
        height: 83%;
        cursor: pointer;
        position: relative;

        .cursor {
          outline: thin solid #fff;
          background-color: transparent;
          position: absolute;
          cursor: grab;
        }
      }

      .searchbar_container {
        height: 12%;
        width: 100%;
        margin-top: auto;
        display: flex;
        position: relative;
        @include checkboardBackground();

        .color_display {
          width: 100%;
          height: 100%;
          position: absolute;
        }

        .arrow_button {
          position: absolute;
          top: 50%;
          cursor: pointer;
          border-style: solid;
          border-color: #000;
          border-right: none;
          border-bottom: none;

          &.left {
            left: 3%;
            transform: translateY(-50%) rotate(-45deg);
          }

          &.right {
            right: 3%;
            transform: translateY(-50%) rotate(135deg);
          }
        }

        .searchbar {
          width: 70%;
          border: none;
          text-align: center;
          z-index: 2;
          margin: 0 auto;
          background-color: transparent;

          &:focus {
            outline: none;
          }
        }
      }
    }

    .hue_AND_transparency {
      height: 100%;
      width: 20%;
      display: flex;
      flex-direction: row;
      justify-content: right;

      .hue {
        background: linear-gradient(
          hsl(0, 100%, 50%),
          hsl(60, 100%, 50%),
          hsl(120, 100%, 50%),
          hsl(180, 100%, 50%),
          hsl(240, 100%, 50%),
          hsl(300, 100%, 50%),
          hsl(0, 100%, 50%),
        );
        height: 100%;
        width: 40%;
        position: relative;
        cursor: pointer;
      }

      .transparency {
        height: 100%;
        width: 40%;
        margin-left: 10%;
        position: relative;
        cursor: pointer;
        @include checkboardBackground();

        .alpha_channel {
          width: 100%;
          height: 100%;
        }
      }

      .vertical_slider {
        background-color: #fff;
        width: 110%;
        height: 2.5%;
        position: absolute;
        top: 0%;
        left: -5%;
        cursor: grab;
      }
    }
  }
}